* {
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  background-color: black;
  color: #C93675;
}

#number{
  background-color: #C93675;
  color: black;
  border: 5px inset #ce4a83;
  border-radius: 7px;
  font-size: 30px;
}
#convert-btn{
  background-color: #C93675;
  color: black;
  border: 5px inset #ce4a83;
  border-radius: 7px;
  font-size: 25px;
}
#output{
  border: 5px inset #ce4a83;
  background-color: #C93675;
  color: black;
  font-size: 30px;
  border-radius: 7px;
  display: inline-block;
  padding: 8px;
}

#output:empty{
  display: none;
}

h1{
  font-size: 40px;
}
h2{
  font-size: 35px;
}
ul{
  list-style-type: none;
  display:inline-block;
  margin-left: 5px;
  margin-top: 5px;
  background-color: #426b76;
  max-width: 100px;
  min-width: 100px;
  border: 3px solid #426b76;
  position: initial;
}

li{
  text-align: center;
}

a{
  text-decoration: none;
  text-align: center;
}
